.card {
    justify-content: space-around;
    overflow-y: scroll;
    overflow-x: hidden;

    .total {
        width: 100%;
    }

    mat-divider {
        margin: 20px 0;
        width: 100%;

    }

    .footer {
        display: flex;
        align-items: center;
        justify-content: space-between;
        flex-direction: row;
    }

}